<template>
  <div id="app">
    <pms-barra-menu :rotas="rotas">
      <template v-slot:default="{ rota }">
        <router-link :to="rota.path">
          {{ rota.title }}
        </router-link>
      </template>
      
      <template v-slot:rota-filha="{ child }">
        <router-link :to="child.path">
          {{ child.title }}
        </router-link>
      </template>
    </pms-barra-menu>
  </div>
</template>

<script>
  import PmsBarraMenu from '@/pms-barra-menu.vue'
  
  const children = [
    {
      title: 'Rota nível 2/1',
      name: 'rota-nivel-2-1',
      path: 'rota-nivel-2-1'
    },
    
    {
      title: 'Rota nível 2/2',
      name: 'rota-nivel-2-2',
      path: 'rota-nivel-2-2'
    }
  ]
  
  const rota = {
    // path: 'rota-nivel-1',
    children,
    title: 'Rota nível 1',
    name: 'rota-nivel-1',
  }
  
  const App = {
    name: 'App',
    data: () => ({
      rotas: [
        {
          meta: {
            menu: {
              ...rota
            }
          }
        }
      ]
    }),
    
    components: { PmsBarraMenu }
  }
  
  export default App
</script>