<template>
  <section role="menu" data-pms="barra-menu">
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li class="dropdown" v-for="rota in rotasNoMenu" :key="`barra-menu-${rota.name}`">
              <!-- Deverá conter um <router-link> com rota.title como texto interno -->
              <slot name="default" v-if="rota.path" :rota="rota"/>
              
              <a
                v-else
                href="#"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                data-toggle="dropdown"
                :data-name="rota.name"
                @click="toggleSubMenu($event)"
                :class="`dropdown-toggle ${rota.name} Ativa`"
              >
                {{ rota.title }}
              </a>
              
              <ul :class="`dropdown-menu sub-barra-menu barra-menu-rota-${rota.name}`">
                <li v-for="child in rota.children" :key="`barra-menu-sub-${child.name}`">
                  <slot name="rota-filha" :child="child" v-if="child.path"/>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </section>
</template>

<style lang="less" src="./pms-barra-menu.less"></style>

<script>
export default {
  name: 'PmsBarraMenu',
  props: {
    rotas: {
      type: Array,
      required: true
    }
  },
  computed: {
    rotasNoMenu() {
      return this.rotas.map(rota => rota.meta.menu)
    }
  },
  methods: {
    toggleSubMenu(e) {
      const name = e.target.dataset.name
      const menu = document.querySelector(`.barra-menu-rota-${name}`)
      
      menu.classList.toggle('show')
    }
  }
}
</script>
