[data-pms=barra-menu] {
  .navbar {
    margin-bottom: 0px;
    min-height: 53px;
    position: relative;
  }

  .navbar-default {
    background: #00615c none repeat scroll 0 0;
    border-color: #00615c;
    border-bottom: 1px solid #004f4a;
    color: #ffffff;
    border-radius: 0;
    margin-bottom: 20px;
    width: 100%;
    height: 53px;
    position: fixed;
    left: 0;
    z-index: 900;
  }

  ul {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.4rem;
    margin: 0 0 2.2rem;
  }

  .nav > li {
    display: block;
    margin-top: 8px;
    position: relative;
  }

  .navbar-nav > li > a {
    border-radius: 0;
    color: #a1be4d !important;
    display: block;
    font-size: 0.85em;
    font-weight: bold;
    padding: 10px 15px;
    position: relative;
    text-transform: uppercase;
  }

  .navbar-nav > li > a.active,
  .navbar-nav > li > a:focus,
  .navbar-nav > li > a:hover,
  .navbar-nav > li > a:visited {
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 3px solid;
    text-decoration: none;
    border-radius: 0;
    color: #a1be4d !important;
    display: block;
    font-size: 0.85em;
    font-weight: bold;
    padding: 10px 15px;
    position: relative;
    text-transform: uppercase;
  }

  .dropdown-menu {
    font-size: 0.9em;
  }

  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus,
  .navbar-default .navbar-nav > .open > a:active {
    background-color: rgba(0, 0, 0, 0);
    color: #a1be4d !important;
  }

  .dropdown-menu > li > a {
    color: #468B35;
  }

  .dropdown-menu > li > a:hover,
  .dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #A1BE4D;
    background-color: #eefceb;
  }

  @media screen and (min-width: 768px) {
    .navbar-default {
      background: #00615c none repeat scroll 0 0;
      border-color: #00615c;
      border-bottom: 1px solid #004f4a;
      color: #ffffff;
      border-radius: 0;
      margin-bottom: 20px;
      width: 100%;
      height: 53px;
      position: fixed;
      left: 0;
    }
  }
}